@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url('../public/fonts/Gotham.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@media (prefers-color-scheme: dark) {
  :root {
    
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrolling::-webkit-scrollbar{
  height: 0;
}
.scrolling::-webkit-scrollbar-track{
  background-color: #f7a9a9;
}
.scrolling::-webkit-scrollbar-thumb{
  border: 2px solid #f7a9a9;
  background-color: #ff7070;
}
.scrolling::-webkit-scrollbar-thumb:hover{
  border: 2px solid #f7a9a9;
  background-color: #b80202;
}
.dark body::-webkit-scrollbar-thumb:hover{
  border: 2px solid #1c0000;
  background-color: #6e0505;
}

.dark body::-webkit-scrollbar{
  height: 0;
}
.dark body::-webkit-scrollbar-track{
  background-color: #1c0000;
}
.dark body::-webkit-scrollbar-thumb{
  border: 2px solid #1c0000;
  background-color: #490101;
}
.react-calendar__tile--disabled {
  color: gray; /* Change this to any color you prefer */
  background-color: lightgray; /* Optional: change the background color */
  pointer-events: none; /* Ensure disabled dates are not clickable */
  opacity: 0.6; /* Adjust the opacity if you want */
}
.postcard:hover .imaage{
  transform: scale(1.1);
}
.imaage{
  transition: all ease-in-out 0.5s;
}
.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #fb5b53;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}